.navbar {
  height: 15vh;
  width: 100%;
  background-color: rgb(94, 94, 168);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw 0 5vw;
}
.navbar > ul {
  list-style: none;
}
.navbar > ul > li {
  list-style: none;
  float: left;
  padding: 12px;
  border-bottom: 2px solid transparent;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-link:hover {
  border-bottom: 2px solid white;
}
.navbar-title {
  font-family: monospace;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .navbar > ul > li {
    display: block;
    width: 100%;
  }
}
